body{
    background-color: #F4E6D0;
    font-family: Roboto, sans-serif;
}

.header{
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: inherit;
    background-color: #890B1C;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: white;
    border-radius: 5px;
    margin-bottom: .5%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a, .dropBtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
}

li a:hover, .dropdown:hover .dropBtn{
    background-color: #dd2b29;
}

li.dropdown{
    display: inline-block;
}

.dropdownContent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;    
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdownContent a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
    display: block;
}

#schoolLogoContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
}

#txt1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#txt2{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    padding-right: 5%;
}

.video{
    background-color: whitesmoke;
    height: auto;
    width: auto;
    border-radius: 5px;
}

.reloaded{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    align-items: center;
}

.indicator{
    justify-self: right;
}

.indicatorGreen{
    height: 18px;
    width: 18px;
    background-color: #2cdd29;
    border-radius: 50%;
}

.indicatorRed{
    height: 18px;
    width: 18px;
    background-color: #dd2b29;
    border-radius: 50%;
}

.open, .taken{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.total{
    align-items: center;
    text-align: center;
}

#count, #occupied{
    justify-self: left;
}

.vidContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoFeed{
    width: 80%;
}